instances:
  - name: '{{ instances[0] }}' # [node-name]
    dns:
      - '{{ instances[0] }}' # [domain-name]
    ip:
      - '{{ instances[0] }}' # [ip-of-host]

  - name: '{{ instances[1] }}' # [node-name]
    dns:
      - '{{ instances[1] }}' # [domain-name]
    ip:
      - '{{ instances[1] }}' # [ip-of-host]